/* Setting default Layout */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: "Smythe", system-ui;
}

hr {
    color: #d2d2d2;
    width: 85%;
    margin: 0 auto;
}

h3 {
    font-weight: 500;
}

header img {
    display: block;
    margin: 50px auto 0 auto;
    width: 400px;
    height: 100px;
}

main {
    position: relative;
    background-color: white;
    width: 400px;
    margin: 0 auto;
    height: 650px;
}

/* Design and Layout for the items in the menu */

.item-option {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border-bottom: 1px solid #8B8B8B; */
    padding: 30px 10px;
}

.item-img {
    cursor: default;
    font-size: 50px;
}

.item-desc {
    font-size: 12px;
}

.item-desc h2 {
    font-weight: 500;
}

.item-ingredients {
    color: #8B8B8B;
}

.item-price {
    padding-top: 10px;
}

.item-option button {
    background-color: white;
    color: #555555;
    width: 35px;
    height: 35px;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}

.item-option button:hover {
    background-color: #ddd;
}

.item-option button:active {
    border: 1px solid black;
}

/* design and pricing of cart */

.order-summary {
    padding: 15px 20px;
}

.order-summary h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.items-added {
    margin-top: 40px;
    margin-bottom: 6px;
}

.bill-item {
    display: flex;
    gap: 6px;
}

.bill-item button{
    border: none;
    background-color: white;
    color: #BBBBBB;
    font-size: 8px;
    cursor: pointer;
}

.bill-item-price {
    margin-left: auto;
    margin-right: 20px;
}

.order-summary-break {
    border-color: #333;
    width: 95%;
}

.order-amount {
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 18px;
}

.final-price {
    margin-left: auto;
    margin-right: 20px;
}

.complete-order-btn {
    background-color: #16DB99;
    color: white;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 10px 120px;
    cursor: pointer;
}

.complete-order-btn:hover {
    background-color: #14b67d;
}

/* User payment info modal design */

.payment-modal {
    background-color: white;
    position: absolute;
    width: 350px;
    height: 350px;
    margin: auto;
    inset: 0;
    box-shadow: 0 0 60px 10px #777;
}

.payment-modal-display {
    display: none;
}

.payment-modal h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 30px 0;
}

.payment-modal form input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: block;
    width: 70%;
    margin: 20px auto;
    padding: 10px 20px;
}

.card-number::-webkit-outer-spin-button,
.card-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-pay-btn {
    background-color: #16DB99;
    color: white;
    font-weight: 700;
    display: block;
    width: 83%;
    margin: 40px auto 0 auto;
    border: none;
    padding: 10px 120px;
    cursor: pointer;
}

.modal-pay-btn:hover {
    background-color: #14b67d;
}

/* Post payment message */

.post-payment-message {
    background-color: #ECFDF5;
    font-size: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 20px;
}